@use "../../styles/variables" as v;
@use "../../styles/breakpoints" as b;
@use "../../styles/mixins" as m;
@use "../../styles/animations" as a;

.hero {
	display: grid;
	justify-content: center;
	align-items: center;
	gap: 4rem;
	@include b.breakpoint(lg) {
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
	}

	&__content {
		text-align: center;
		h1,
		h2 {
			font-size: 2.3rem;
			font-weight: 600;
		}
		p {
			margin-top: 1.5rem;
		}
		span {
			color: v.$color-primary;
		}
		@include b.breakpoint(lg) {
			text-align: left;
			h1,
			h2 {
				font-size: 3.5rem;
			}
		}
	}

	&__image {
		margin: 0 auto;
		width: 280px;
		height: 280px;

		img {
			@include a.morph;
		}

		@include b.breakpoint(md) {
			width: 350px;
			height: 350px;
		}
	}
}
