//colors
$color-font: #c4cfde;
$color-font-light: #cfcfcf;
$color-bg: #202327;
$color-primary: #fa004f;
$color-scrollbar: #8e8e8e;

//fonts
$font-primary: "Poppins", sans-serif;
$font-text: "Mulish", sans-serif;

//transitions
$transition: 0.3s all ease-in-out;
