//colors
$color-font: #2d2e32;
$color-font-lighter: #767676;
$color-bg: #fff;
$color-bg-light: #f9f9f9;
$color-primary: #147efb;

//fonts
$font-primary: "Poppins", sans-serif;
$font-text: "Mulish", sans-serif;

//transitions
$transition: 0.3s all ease-in-out;
