@use "../../styles/variables" as v;
@use "../../styles/breakpoints" as b;
@use "../../styles/animations" as a;

.contact {
	text-align: center;

	&__title {
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	&__text {
		font-size: 0.9rem;
		margin-bottom: 2rem;
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		border: 1px solid v.$color-font;
		color: v.$color-font;
		padding: 1rem 0rem;
		border-radius: 0.5rem;
		width: 180px;
		margin: 0 auto;
		transition: v.$transition;
		@include a.pulse;
		&:hover,
		&:focus {
			color: v.$color-primary;
			border-color: v.$color-primary;
		}

		svg {
			font-size: 1.5rem;
		}
	}
}
